@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lilita+One&family=Permanent+Marker&display=swap');

/*fonts*/
.home .slide-container .slide .content span,
.blog h1,
.blog span,
.news .content h3 {
    font-family: 'Permanent Marker', cursive;

}

.home .slide-container .slide .content h3,
.blog .box-container .box p,
 .news .content p,
 .Product .nike_product .p_card h2,.add-to-cart-button
 {
     font-family: 'Lilita One', cursive;
     
}
    
    .home .slide-container .slide .content a,
    .blog .box-container .box h3,
    .Product .nike_product .p_card h3,
    .fb p
 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
}


html
{
    scroll-behavior: smooth;
}

* {
    font-family: iran_sans_light;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s linear;
}

html {
    font-size: 70%;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;

}
body
{
    background-color: #7a6c81;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

header .logo {
    font-size: 2rem;
    color: #5B0888;
    font-weight: 500;
    font-family: 'Black Ops One', cursive;
}

header .navbar a {
    font-size: 2rem;
    color: #5B0888;
    margin: 0 2rem;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;

}

header .navbar a:hover {
    color: black;
    background: #6807f0;
    transition: .4s;
    border: 1px solid #f7f7f7;
    border-radius: 2px;
}

header .icons a {
    font-size: 2rem;
    color: #5B0888;
    margin-left: 1.5rem;
}

header .icons a:hover {
    color: black;
}

#menu-bar {
    font-size: 2rem;
    padding: .5rem 1rem;
    color: #5B0888;
    cursor: pointer;
    display: none;
}


/*HOME*/
/*HOME*/
section {
    padding: 2rem 9%;
}

.home {
    padding: 0;
    position: relative;
}

.home .slide-container .slide {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0 9%;
    padding-top: 9rem;

}

.home .slide-container .slide .content {
    animation: slideContent .6s linear .2s backwards;
}

.home .slide-container .slide .content h3 {
    animation: slideContent .6s linear .6s backwards;
}

.home .slide-container .slide .content a {
    animation: slideContent .6s linear .8s backwards;

}

@keyframes slideContent {
    0% {
        opacity: 0;
        transform: translatey(10rem);
    }
}

.home .slide-container .slide .image {
    flex: 1 1 30rem;
    position: relative;
    z-index: 0;
}

.home .slide-container .slide .image .shoe {
    width: 75%;
    animation: shoe .8s linear;


}

.shoe:hover {
    transform: rotate(10deg) scale(1.2);
    transition: .9s;
}

@keyframes shoe {
    0% {
        opacity: 0;
        transform: translatey(-10rem);
    }

}

.home .slide-container {
    display: none;
}

.home .slide-container.active {
    display: block;
}

.home #prev,
.home #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    height: 5rem;
    width: 5rem;
    line-height: 5.5rem;
    font-size: 2rem;
    color: #3e0a99;
    text-align: center;
    cursor: pointer;
}

.home #prev {
    left: 3rem;
    position: absolute;
}

.home #next {
    right: 3rem;
    position: absolute;
}

/*offwhit*/
#offwhite {
    background-color: #639eca;
}

#offwhite .content span {
    color: rgb(255, 0, 0);
    font-size: 5rem;
    letter-spacing: 8px;
}

#offwhite .content h3 {
    font-size: 3rem;
    color: rgb(3, 13, 90);
}

#offwhite .content a {
    display: inline-block;
    margin-top: 1rem;
    font-weight: bolder;
    font-size: 2rem;
    cursor: pointer;
    background: #008cff;
    padding: .8rem 3rem;
    color: #000;

}

#offwhite .content a:hover {

    background: #003e85;
    color: wheat;
    transition: .4s;


}

/*Matecontrol*/

#Matcontrol2 {
    background-color: rgb(230, 208, 79);
}

#Matcontrol2 .content span {
    color: rgb(101, 62, 125);
    font-size: 5rem;
    letter-spacing: 8px;
}

#Matcontrol2 .content h3 {
    font-size: 3rem;
    color: rgb(6, 6, 6);
}

#Matcontrol2 .content a {
    display: inline-block;
    margin-top: 1.5rem;
    font-weight: bolder;
    font-size: 2rem;
    cursor: pointer;
    background: rgb(212, 170, 4);
    padding: .8rem 3rem;
    color: #000;

}

#Matcontrol2 .content a:hover {

    background: black;
    color: rgb(212, 170, 4);
    transition: .4s;


}

/*puma*/

#pumar {
    background: rgb(79, 79, 79);
}

#pumar .content span {
    color: rgb(0, 0, 0);
    font-size: 5rem;
    letter-spacing: 8px;
}

#pumar .content h3 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
}

#pumar .content a {
    display: inline-block;
    margin-top: 1.5rem;
    font-weight: bolder;
    font-size: 2rem;
    cursor: pointer;
    background: rgb(121, 120, 120);
    padding: .8rem 3rem;
    color: #ffffff;

}

#pumar .content a:hover {

    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: .4s;
}

/*adidas*/
#adidas {
    background: rgb(243, 210, 252);
}

#adidas .content span {
    color: #8879bf;
    font-size: 5rem;
    letter-spacing: 8px;
}

#adidas .content h3 {
    font-size: 3rem;
    color: rgb(0, 0, 0);

}

#adidas .content a {
    display: inline-block;
    margin-top: 1.5rem;
    font-weight: bolder;
    font-size: 2rem;
    cursor: pointer;
    background: rgb(194, 105, 209);
    padding: .8rem 3rem;
    color: #000000;

}

#adidas .content a:hover {

    background: #8879bf;
    color: rgb(0, 0, 0);
    transition: .4s;
}







/** feedback section  **/
.blog {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.blog span {
    color: #5B0888;
}

.blog span,
.blog h1 {
    font-size: 4rem;
}

.blog .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.blog .box-container .box {
    flex: 1 1 30rem;
    text-align: center;
    background: #eaabff90;
    padding: 2rem;
}

.blog .box-container .box img {
    border-radius: 50%;
    object-fit: cover;
    height: 10rem;
    width: 10rem;
    margin: 1rem 0;
    border: 4px solid #ddd;
}

.blog .box-container .box img:hover {
    transform: scale(1.1);
}

.blog .box-container .box h3 {
    font-size: 2.5rem;
    color: #000;
}

.blog .box-container .box p {
    font-size: 1.6rem;
    color: #713087;
    padding: 1rem 0;
}

.blog .box-container .box .stars i {
    color: orangered;
    font-size: 2rem;
}

.blog .box-container .box:hover {

    background: #a365c5;
}
/* products */
.Product
{
    width: 100%;
}
.Product h1
{
    font-size: 4rem;
    margin-top: 4rem;
}
.Product span
{
    color: #5B0888;
}
.product_name
{
    padding: 1rem 0;
    padding-left: 3rem ;
}
.p_card {
    width: 190px;
    height: 280px;
    background: #ffffff;
    text-align: center;
    overflow: hidden;
    position: relative;
    transition: height .7s ease;
    
}

.p_card:hover {
    height: 290px;
    background-color: rgb(228, 221, 245);
    transition: .4s;
    border: 1px solid  rgb(228, 221, 245);

}

.p_card img {
    width: 85%;
    max-height: 150px;
    margin-top: 2rem;
}

.p_card h2 {
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 1.7rem;
}
.p_card h3
{
font-size: 1.4rem;
}
.add-to-cart-button {
    display: none;
    position: absolute;
    width: 80%;
    height: 3rem    ;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: #b58bed;
    color: #000000;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s ease-in-out 1s;
    font-size: 1.5rem;
}

.nike_product 
{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding-left:3rem;
    
}
.p_card:hover .add-to-cart-button {
    display: block;
    opacity: 1; 
}

.plink
{
    text-decoration: none;
}

#blog
{
    font-size: 4rem;
}
#blog span
{
    color:#5B0888
}
.feedback
{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        height: 100vh;
    }

    .feedback .feed
    {
       
        width: 45%;
        height: 80vh;
    }
    .feedback .img
    {
 
        width: 45%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .feedback .img .box
    {
        background-color: rgb(188, 71, 231);
        width: 60%;
        height: 50vh;
    }
    .feedback .img .box img
    {
        width: 100%;
        height: 50vh;
        position: relative;
        top: 4rem;
        right: 4rem;    
    }
    .slide-feedback .fb 
    {
        animation: slide_fp .3s linear .1s;
    }
    .fb #quote
    {
        transform: scaleX(-1);
        background-color: blueviolet;
        width: 4rem;
        height: 4rem;
        margin-top: 9rem;
        margin-left: 5rem;
        
    }
    .fb p
    {
        font-size: 2rem;
        padding: 0 5rem;
        margin-top: 3rem;
        color: rgb(0, 0, 0);
    }
    @keyframes slide_fp
    {
        0%
        {
            opacity: 0;
            transform: translateX(10rem);
        }
    }
    .fb B
    {
        font-size: 2.2rem;
        padding-left:5rem ;
        color: rgb(132, 0, 255);
        margin-top: 3rem;
        
    }
    .fb .proflie 
    {
        display: flex;
        gap: 1.3rem;
        padding-left: 5rem;
        margin-top: 2rem;
        
    }
    .fb .proflie img
    {
        width: 5.5rem;
        height: 5.5rem;
        border: .5px solid black;
        border-radius: 10%;
        
    }
    .fb .proflie h4
    {
        font-size: 2rem;
        color: rgb(255, 255, 255);    
    }

    .fb .btun_feed
    {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
        padding-left: 5rem;
    }
    .fb .btun_feed div
    {
        font-size: 3rem;
        color: rgb(166, 77, 255);
        background-color: rgb(66, 62, 62);
        
    } 

    .feedback .slide-feedback
    {
        display: none;
    
    }
    .feedback .slide-feedback.active
    {
        display: block;
    }

    /**NEWS**/
    .news{
        padding: .5rem 0;
    }
    .news .content{
        text-align: center;
        background: #f1cff6;
        padding: 2rem;
    }
    .news .content h3{
        font-size: 2.5rem;
        color: #000;
    }
    .news .content p{
        font-size: 1.5rem;
        color: hsl(273, 81%, 57%);
        margin: 1rem auto;
        max-width: 60rem;
    }
    .news .content form{
        margin:  1rem auto;
        max-width: 50rem;
        display: flex;
    }
    
    .news .content form .email{
        width: 100%;
        font-size: 1.7rem;
        text-transform: none;
        color: #ffffff;
        padding: 1rem;
      
        border-right: none;
        margin-top: 1rem;
    }
    .content .btn2
    {
        width: 20%;
        height: 4rem;
        font-size: 2rem;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    







/* Responsive  */
@media (max-width:768px) {
    #menu-bar {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: -120%;
        width: 70%;
        background: transparent;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        opacity: 1;
        border-bottom-right-radius: 20px;
    }

    header .navbar a {
        font-size: 2rem;
        padding: 2rem;
        margin: 1rem;
        display: block;
        text-align: center;
    }

    header .navbar.active {
        left: 0;
        background-color: white;
        transition: .9s;
    }

    /**HOME**/
    .home {
        padding: 0;
        position: relative;
    }

    .home .slide-container .slide {
        min-height: 100vh;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        padding: 10rem 9%;


    }

    .home .slide-container .slide .content {
        animation: slideContent .6s linear .2s backwards;
    }

    .home .slide-container .slide .content h3 {
        animation: slideContent .6s linear .6s backwards;
    }

    .home .slide-container .slide .content a {
        animation: slideContent .6s linear .8s backwards;

    }

    @keyframes slideContent {
        0% {
            opacity: 0;
            transform: translatey(10rem);
        }
    }

    .home .slide-container .slide .image {
        flex: 1 1 30rem;
        position: relative;
        z-index: 0;
    }

    .home .slide-container .slide .image .shoe {
        width: 100%;
        animation: shoe .8s linear;


    }

    .shoe:hover {
        transform: rotate(10deg) scale(1.2);
        transition: .9s;
    }

    @keyframes shoe {
        0% {
            opacity: 0;
            transform: translatey(-10rem);
        }

    }

    .home .slide-container {
        display: none;
    }

    .home .slide-container.active {
        display: block;
    }

    .home #prev,
    .home #next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;
        height: 5rem;
        width: 5rem;
        line-height: 5.5rem;
        font-size: 2rem;
        color: rgb(169, 169, 169);
        border: 1px spi;
        text-align: center;
        cursor: pointer;
    }

    .home #prev {
        left: 3rem;
        position: absolute;
    }

    .home #next {
        right: 3rem;
        position: absolute;
    }

    
    /** feedback section  **/
    .blog {
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .blog span {
        color: #5B0888;
    }

    .blog span,
    .blog h1 {
        font-size: 4rem;
    }

    .blog .box-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .blog .box-container .box {
        flex: 1 1 30rem;
        text-align: center;
        background: #eaabff90;
        padding: 2rem;
    }

    .blog .box-container .box img {
        border-radius: 50%;
        object-fit: cover;
        height: 10rem;
        width: 10rem;
        margin: 1rem 0;
        border: 4px solid #ddd;
    }

    .blog .box-container .box img:hover {
        transform: scale(1.1);
    }

    .blog .box-container .box h3 {
        font-size: 2.5rem;
        color: #000;
    }

    .blog .box-container .box p {
        font-size: 1.6rem;
        color: #713087;
        padding: 1rem 0;
    }

    .blog .box-container .box .stars i {
        color: orangered;
        font-size: 2rem;
    }
    #imgbox .box
    {
        display: none;
    }

    .fb #quote
    {
        transform: scaleX(-1);
        background-color: blueviolet;
        width: 3rem;
        height: 3rem;
        margin-top: 9rem;
        margin-left: 1em;
        
    }
    .fb p
    {
        font-size: 1.5rem;
        padding: 0 0;
        margin-top: 3rem;
        color: rgb(0, 0, 0);
        padding-left: 1rem;
    }
    @keyframes slide_fp
    {
        0%
        {
            opacity: 0;
            transform: translateX(10rem);
        }
    }
    .fb B
    {
        font-size: 1.7rem;
        padding-left:1rem ;
        color: rgb(0, 0, 0);
      
        
    }
    .fb .proflie 
    {
        display: flex;
        gap: 1.3rem;
        padding-left: 1rem;
        margin-top: 2rem;
        
    }
    .fb .proflie img
    {
        width: 5.5rem;
        height: 5.5rem;
        border: .5px solid black;
        border-radius: 50%;
    
    }
    .fb .proflie h4
    {
        font-size: 1.1rem;
        color: rgb(255, 255, 255);    
    }

    .fb .btun_feed
    {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
        padding-left: 1rem;
    }
    .fb .btun_feed div
    {
        font-size: 2rem;
        color: rgb(166, 77, 255);
        background-color: rgb(66, 62, 62);
        
    } 

}